/*Fonts*/
@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-light-webfont.woff2") format('woff2'),
      url("fonts/proximanova-light-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-light-webfont.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-regular-webfont.woff2") format('woff2'),
       url("fonts/proximanova-regular-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-regular-webfont.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-semibold-webfont.woff2") format('woff2'),
       url("fonts/proximanova-semibold-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-semibold-webfont.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-bold-webfont.woff2") format('woff2'),
       url("fonts/proximanova-bold-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-bold-webfont.woff") format('woff');
  font-weight: 800;
}

html {
  font-family: pnova;
  background-color: #fff;
}

/*Navbar*/
nav {
  background-color: transparent;
  border: transparent;
  width: 50%;
  position: fixed;
  right: 25%;
  top: 15px;
  font-weight: bold;
  z-index: 999;
}

.nav-wrapper {
  background-color: #FFFFFF;
  opacity: .9;
}
nav ul a {
  color: #000;
}

.side-nav p {
  padding: 0 16px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.fa-nav {
  padding-right: 15px;
}

.right {
  margin-right: 15px;
  font-weight: 500;
}

.brandicon {
  margin: 12px 0 0 20px;
  max-height: 40px;
}

.sideicon {
  max-height: 60px;
  margin-left: 100px;
}

/*Media Queries*/

/* less big screen sizes */
@media (max-width: 900px){
  nav {
    background-color: transparent;
    border: transparent;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
  }
}
/* regular mobile */
@media (max-width: 640px){
  .brandicon {
    margin-top: 8px;
  }
}
