/*Fonts*/
@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-light-webfont.woff2") format('woff2'),
      url("fonts/proximanova-light-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-light-webfont.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-regular-webfont.woff2") format('woff2'),
       url("fonts/proximanova-regular-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-regular-webfont.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-semibold-webfont.woff2") format('woff2'),
       url("fonts/proximanova-semibold-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-semibold-webfont.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "pnova";
  src: url("fonts/proximanova-bold-webfont.woff2") format('woff2'),
       url("fonts/proximanova-bold-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/proximanova-bold-webfont.woff") format('woff');
  font-weight: 800;
}

p {
  font-size: 16px;
}
html {
  font-family: pnova;
  background-color: #B72F33;
}

/*Navbar*/
nav {
  background-color: transparent;
  border: transparent;
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  font-weight: bold;
  z-index: 999;
}

.nav-wrapper {
  background-color: #FFFFFF;
  opacity: .9;
}
nav ul a {
  color: #000;
}

.brand-logo-right {
  margin-left: 15px;
  color: #000;
}

/*Might have to change this*/
.right {
  margin-right: 15px;
  font-weight: 500;
}

.brandicon {
  margin-top: 12px;
  max-height: 40px;
}

#icon1 {
  display: inline;
}

#icon2 {display: none;
}

/*Content*/
h1,h4 {
  font-weight: 300;
}

h1 {
  font-size: 6em;
}

h5 {
  font-weight: 200;
}

.leftycat {
  background-color: #B72F33;
  height: 95vh;
  color: white;
}

.rightycat {
  background-color: white;
  height: 95vh;
  color: black;
}

.row {
  margin-bottom: 0;
}

.container {
  height: 70vh;
}

.fa-angle-down {
  color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
    transform: translate(-50%, -50%);
}

/* section stylin'*/
#kevster {
  margin-top: 22vh;
}
#aboutme {
  margin-top: 25vh;
}

/*Media Queries*/
@media (max-width: 900px){
  nav ul a {
    padding: 0 7px;
  }

  nav {
    background-color: transparent;
    border: transparent;
    width: 100%;
    position: fixed;
    right: 0;
  }
  nav .nav-wrapper{
    background-image:url(./img/navtest2.png);
    background-size: 100% 100%;
    opacity: .9;
  }
  nav ul a {
    color: #000;
  }
  .brand-logo-right {
    color: #FFFFFF;
  }
  #icon1 {
    display: none;
  }

  #icon2 {display: inline;
  }
}

@media (max-width: 600px){
  nav .nav-wrapper {
    background-image: none;
  }
  nav ul a {
  color: #FFFFFF;
  }
  nav .nav-wrapper {
    background-color: #B72F33;
    opacity: .9;
  }
  .brandicon {
    margin-top: 8px;
  }
  .fa-angle-down {
    bottom: 0;
    color: #FFF;
  }
}

@media (max-height: 570px){
  h1 {
    font-size: 4em;
  }
  h4 {
    font-size:1.5em;
  }
}

@media (max-height: 365px){
  h1 {
    font-size: 4em;
  }

  h5 {
    font-size: 1.5em;
    line-height: 85%;
  }
  .row .col {
    min-height: 30em;
  }
}
